<div class="image"></div>
<div class="info">
    <p>Pizzeria Pomodoro startades här på Stadgatan 28 för 40 år sedan. Restaurangen grundades av Bert Karlsson och har sedan dess utvecklats till en av Göteborgs mest populära pizzerior och två nya restauranger har öppnats. Vår restaurang idée är att vår meny består av ett fåtal pizzor av absolut högsta kvalitet. Om vi håller menyn till ett fåtal rätter kan vi se till att alla av dem är så bra som möjligt.</p>
</div>
<div class="chef"></div>
<div class="contact">
    <p> Telefon: 123123123</p>
    <p>E-mail: pizzeriapomodoro@gmail.com</p>
</div>