<img src="img/pizza.jpg" class="pizzapicture peperoni hidden" onclick="hidePizza('peperoni')"></img>
<img src="img/vesuvio.jpg" class="pizzapicture vesuvio hidden" onclick="hidePizza('vesuvio')"></img>
<img src="img/margherita.jpg" class= "pizzapicture margherita hidden" onclick="hidePizza('margherita')"></img>
<img src="img/quatroformaggi.jpg" class= "pizzapicture quattroformaggi hidden" onclick="hidePizza('quattroformaggi')"></img>
<img src="img/capricciosa.jpg" class= "pizzapicture capricciosa hidden" onclick="hidePizza('capricciosa')"></img>
<img src="img/calzone.jpg" class= "pizzapicture calzone hidden" onclick="hidePizza('calzone')"></img>
<div class="vesuvio" onclick="showPizza('vesuvio')">
    <h4>Pizza Vesuvio</h4>
    <p>Skinka</p>
</div>
<div class="margherita" onclick="showPizza('margherita')">
    <h4>Pizza Margherita</h4>
    <p> Mozzarella och basilika</p>
</div>
<div class="peperoni" onclick="showPizza('peperoni')">
    <h4>Pizza Peperoni Speciale</h4>
    <p>Peperoni, skinka, tomat, lök och oliver</p>
</div>
<div class="quattroformaggi" onclick="showPizza('quattroformaggi')">
    <h4>Pizza Quattro Formaggi</h4>
    <p>Mozarella, gorgonzola, pecorino och parmesan</p>
</div>
<div class="capricciosa" onclick="showPizza('capricciosa')">
    <h4>Pizza Capricciosa</h4>
    <p>Skinka, oliver, kronärtskockshjärtan och champinjoner </p>
</div>
<div class="calzone" onclick="showPizza('calzone')">
    <h4>Calzone</h4>
    <p> Inbakad vesuvio</p>
</div>
