
<img class="pizzapicture peperoni hidden" onclick= "hidden"></img>
<img class="pizzapicture vesuvio hidden"></img>
<img class= "pizzapicture margherita hidden"></img>
<img class= "pizzapicture quattroformaggi hidden"></img>
<img class= "pizzapicture capricciosa hidden"></img>
<img class= "pizzapicture calzone hidden"></img>
<div class="vesuvio" onclick="showPizza('vesuvio')">
    <h4>Pizza Vesuvio</h4>
    <p>Skinka</p>
</div>
<div class="margherita" onclick="showPizza('margherita')">
    <h4>Pizza Margherita</h4>
    <p> Mozzarella och basilika</p>
</div>
<div class="peperoni" onclick="showPizza('peperoni')">
    <h4>Pizza Peperoni</h4>
    <p>Peperoni</p>
</div>
<div class="quattroformaggi" onclick="showPizza('quattroformaggi')">
    <h4>Pizza Quattro Formaggi</h4>
    <p>Mozarella, gorgonzola, pecorino och parmesan</p>
</div>
<div class="capricciosa" onclick="showPizza('capricciosa')">
    <h4>Pizza Capricciosa</h4>
    <p>Skinka, oliver, kronärtskockshjärtan och champinjoner </p>
</div>
<div class="calzone" onclick="showPizza('calzone')">
    <h4>Calzone</h4>
    <p> Inbakad vesuvio</p>
</div>