body{
    margin:0;
    padding:0;
    margin-top: 0;
}

.container {
    padding: 0 px;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

header {
    grid-row: 1/1;
    height: 160px;
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    background-color: #ffff9a
}

header h1 {
    font-family: arizonia;
    font-size: 35px;
}

.logo {
    grid-row: 1/1;
    grid-column: 1/3;
    margin-top: 20px;
}

.name {
    grid-row: 1/1;
    grid-column: 1/12;
    margin-left: 55px;
    font-family: 
}

.social {
    margin-top: 20px;
    margin-left: 100px;
}

nav {
    grid-row: 2/3;
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    border: 2px solid black;
}

nav a {
    font-family: papyrus;
    text-decoration: none;
    font-size: 15px;
    margin: auto;
    color: black;
    transition: 0.3s;
}

nav a:hover {
    text-decoration: underline;
    transition: 0.3s;
    color: darkblue;
}

.hem {
    grid-row: 1/1;
    grid-column: 1/2;
    background-color: green;
    text-align: center;
}

.meny {
    grid-row: 1/1;
    grid-column: 2/3;
    background-color: white;
    text-align: center;
}

.restauranger {
    grid-row: 1/1;
    grid-column: 3/4;
    background-color: red;
    text-align: center;
}

.main {
    background: url(../img/restaurant.jpg);
    grid-column: 1/13;
    grid-row: 2/13;
    display: grid;
    grid-template-rows: inherit;
    grid-template-columns: inherit;
}

.image {
    grid-column: 4/10;
    grid-row: 2/11;
    background-image: url(../img/Pizza.jpg);
    text-align: center;
    border-radius: 20px;
    box-shadow: 2px 2px 2px black;
}

.info {
    grid-column: 1/4;
    grid-row: 2/10;
    border: 2px solid black;
    background-color: #ffff9a;
    border-radius: 10px;
    margin-right: 60px;
    margin-left: 60px;
    opacity: 0.7;
}

.info p {
    font-family: papyrus;
    margin: 2px;
    font-size: 17.55px;
    
}

.chef {
    grid-column: 10/13;
    grid-row: 2/10;
    background: url(../img/chef.jpg);
    opacity: 0.9;
    margin-right: 60px;
    margin-left: 60px;
    border-radius: 10px;
    border: 2px solid black;
}

.contact {
    grid-column: 11/13;
    grid-row: 12/13;
    background-color: #ffff9a;
    opacity: 0.8;
    border-top-left-radius: 10px;
    border: 2px solid black;
}

.pizzapicture {
    z-index: 99;
    grid-column: 3/11;
    grid-row: 2/12;
    height: 500px;
    width: 900x;
    border-radius: 20px;
    transition: 0.6s;
    box-shadow: 2px 2px 2px black;
    margin: auto;
}

.pizzapicture.hidden {
    visibility: hidden;
    height: 0px;
    width: 0px;
    transition: 0.5s;
}

div.margherita {
    grid-column: 3/5;
    grid-row: 3/6;
    background-color: white;
    text-align: center;
    border: 2px solid black;
    background-color: #ffff9a;
    border-radius: 20px;
    opacity: 0.8;
    font-family: papyrus;
}

div.vesuvio {
    grid-column: 6/8;
    grid-row: 3/6;
    background-color: white;
    text-align: center;
    border: 2px solid black;
    background-color: #ffff9a;
    border-radius: 20px;
    opacity: 0.8;
    font-family: papyrus;
}

div.peperoni {
    grid-column: 9/11;
    grid-row: 3/6;
    background-color: white;
    text-align: center;
    border: 2px solid black;
    background-color: #ffff9a;
    border-radius: 20px;
    opacity: 0.8;
    font-family: papyrus;
}

div.quattroformaggi {
    grid-column: 3/5;
    grid-row: 8/11;
    background-color: white;
    text-align: center;
    border: 2px solid black;
    background-color: #ffff9a;
    border-radius: 20px;
    opacity: 0.8;
    font-family: papyrus;
}

div.capricciosa {
    grid-column: 6/8;
    grid-row: 8/11;
    background-color: white;
    text-align: center;
    border: 2px solid black;
    background-color: #ffff9a;
    border-radius: 20px;
    opacity: 0.8;
    font-family: papyrus;
}

div.calzone {
    grid-column: 9/11;
    grid-row: 8/11;
    background-color: white;
    text-align: center;
    border: 2px solid black;
    background-color: #ffff9a;
    border-radius: 20px;
    opacity: 0.8;
    font-family: papyrus;
}

.locations {
    grid-column: 2/5;
    grid-row: 3/12;
    margin-left: 30px;
    text-align: center;
    background-color: #ffff9a;
    opacity: 0.9;
    border: 2px solid black;
    box-shadow: 2px 2px 2px black;
    display: grid;
    grid-template-rows: repeat(8,1fr);
    grid-column: repeat(1,1fr);
    border-radius: 20px;
    font-family: papyrus;
}

.map {
    grid-row: 2/9;
    background: url(../img/locations.jpg);
    border-top: 2px solid black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.restaurant {
    grid-column: 6/12;
    grid-row: 3/12;
    background-color: white;
    text-align: center;
    background-color: #ffff9a;
    opacity: 0.9;
    border: 2px solid black;
    box-shadow: 2px 2px 2px black;
    display: grid;
    grid-template-rows: repeat(8,1fr);
    grid-column: repeat(1,1fr);
    border-radius: 20px;
    font-family: papyrus;
}

.moon {
    grid-row: 2/9;
    background: url(../img/moonrestaurant.png);
    border-top: 2px solid black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

@media only screen and (max-device-width:600px) {
    .image {
        display: none;
    }

    .info {
        grid-column: 1/13;
        grid-row: 7/13;
        margin-bottom: 10px;
        margin-top: 5px;
        margin-bottom: 65px;
    }

    .social {
        display: none;
    }

    .info p {
        font-family: papyrus;
        margin: 2px;
        font-size: 14px;
    }

    .chef {
        grid-column: 1/13;
        grid-row: 1/7;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .contact {
        grid-column: 8/13;
        grid-row: 12/13;
        font-size: 10px;
    }

    div.margherita {
        grid-column: 1/7;
        grid-row: 2/5;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 10px;
        font-size: 13px;
    }

    div.vesuvio {
        grid-column: 7/13;
        grid-row: 2/5;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 10px;
        font-size: 13px;
    }

    div.peperoni {
        grid-column: 1/7;
        grid-row: 5/8;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 10px;
        font-size: 13px;
    }

    div.quattroformaggi {
        grid-column: 7/13;
        grid-row: 5/8;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 10px;
        font-size: 13px;
    }

    div.capricciosa {
        grid-column: 1/7;
        grid-row: 8/11;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 10px;
        font-size: 13px;
    }

    div.calzone {
        grid-column: 7/13;
        grid-row: 8/11;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 10px;
        font-size: 13px;
    }

    .pizzapicture {
        display: none;
    }

    .locations {
        grid-column: 1/12;
        grid-row: 2/12;
    }

    .restaurant {
        display: none;
    }
}